<nav class="navbar">
  <div class="first-container">
    <img src="assets/img/pngegg.png" alt="image" class="logo" />
    <div class="search-container">
      <input type="text" placeholder="Search Anything" class="search-input" />
      <fa-icon [icon]="faSearch" class="search-icon"></fa-icon>
    </div>
  </div>
  <div class="second-container">
    <a routerLink="/employee-list" routerLinkActive="active">Employee List</a>
    <a routerLink="/employee-form" routerLinkActive="active">Employee Form</a>
    <fa-icon [icon]="faBell" class="bell-icon"></fa-icon>
    <div class="profile"></div>
  </div>
</nav>
