<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Age">
      <th mat-header-cell *matHeaderCellDef> Age </th>
      <td mat-cell *matCellDef="let element"> {{element.Age}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Gender">
      <th mat-header-cell *matHeaderCellDef> Gender </th>
      <td mat-cell *matCellDef="let element"> {{element.Gender}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Purpose">
      <th mat-header-cell *matHeaderCellDef> Purpose </th>
      <td mat-cell *matCellDef="let element"> {{element.Purpose}} </td>
    </ng-container>

    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
    </ng-container>

    <ng-container matColumnDef="PhoneNumber">
      <th mat-header-cell *matHeaderCellDef> PhoneNumber </th>
      <td mat-cell *matCellDef="let element"> {{element.PhoneNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="LastUpdated">
      <th mat-header-cell *matHeaderCellDef> LastUpdated </th>
      <td mat-cell *matCellDef="let element"> {{element.LastUpdated}} </td>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>

      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="warn" (click)="deleteRow(row)">
          <mat-icon>{{row.button}}</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
