<div class="topbar">
  <div class="first-container">
    <fa-icon [icon]="faArrowLeft" class="arrow-icon"></fa-icon>
    <div>eFNA</div>
  </div>
  <div class="second-container">
    <div class="search-container">
      <input type="text" placeholder="Search Anything" class="search-input" />
      <fa-icon [icon]="faSearch" class="search-icon"></fa-icon>
    </div>
    <button mat-raised-button color="warn">Sale Kit</button>
    <button mat-raised-button color="warn">
      <mat-icon>add</mat-icon>
      Add new FNA
    </button>
  </div>
</div>
