.sidebar{
  background:#006cbb;
  padding:2rem 0;
  display: flex;
  flex-direction: column;
  gap:2rem;
  color:#d3e6f3;
  margin:0;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}
