main{
  background:#f3f6fc;
  height: 100%;
  width:100%;
  display:flex;
  flex-direction: column;
}

.main-container{
  display:grid;
  grid-template-columns: 6em 1fr;
  box-sizing: border-box;
  height: 100%;
}

.main-content{
  padding:2.5rem 1rem;
  display:flex;
  height:100%;
  flex-direction: column;
  gap:2rem;
}

app-tab{
  max-height: 40rem;
  height:100%;
}
